{% load attachment_helpers %}
{% with files=object|object_files%}
{% if files|length > 0%}
<table class="table">
 	<thead>
   	<tr><th>Name</th><th>Description</th><th>Uploaded By</th><th>Uploaded</th></tr>
   </thead>
   <tbody>
   {% for f in files %}
   	<tr><td><a href="{% url 'get_file' pk=f.id %}">{{f.name}}</a></td><td>{{f.description}}</td><td>{{f.created_by}}</td><td>{{f.created}}</td></tr>
   {% endfor %}
   </tbody>
 </table>
{% else %}
<h4>There are no attached files.</h4>
{% endif %}
{% endwith%}
<a class="btn btn-success" href="{% url 'attach_file' model=model pk=pk %}">Add file</a>