{% load attachment_helpers %}
<script src="/static/attachments/js/resources/models.js"></script>
<script src="/static/attachments/js/pages/files.js"></script>


<script type='text/ng-template' id="editURL.html">
    <div class="modal-header">
            <h3 class="modal-title">Create/Update URL</h3>
        </div>
        <div class="modal-body">
				<fieldset>
            <!-- Text input-->
					<div class="form-group" ng-class="{'has-error':url.errors.url}">
					<!-- Text input-->
					  <label class="col-md-4 control-label" for="url">URL</label>  
					  <div class="col-md-8">
					  <input id="url" ng-model="url.url" type="text" placeholder="enter a valid url..." class="form-control input-md" required="">
					  <span class="help-block" ng-repeat="error in url.errors.url">{[error]}</span>  
					  </div>
					</div>
					<div class="form-group" ng-class="{'has-error':url.errors.text}">
					  <label class="col-md-4 control-label" for="label">Label</label>  
					  <div class="col-md-8">
					  <input id="label" ng-model="url.text" type="text" placeholder="" class="form-control input-md">
					  <span class="help-block" ng-repeat="error in url.errors.text">{[error]}</span>  
					  </div>
					</div>				
					<!-- Textarea -->
					<div class="form-group" ng-class="{'has-error':url.errors.description}">
					  <label class="col-md-4 control-label" for="description">Description</label>
					  <div class="col-md-8">                     
					    <textarea class="form-control" id="description" ng-model="url.description"></textarea>
					    <span class="help-block" ng-repeat="error in url.errors.description">{[error]}</span>
					  </div>
					</div>
				</fieldset>
        </div>
        <div class="modal-footer">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="save()">Save</button> <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
        </div>
</script> 
<div ng-controller="FileController" ng-init="setFileDefaults({content_type:{{object|content_type_id}},object_id:'{{pk}}'});init();">
	<table class="table table-striped" ng-if="files.length > 0">
	<tr><th>Name</th><th>Description</th><th>Uploaded by</th><th>Uploaded</th></tr>
	<tr ng-repeat="file in files" ng-show="file.id">
		<td>
			{% if options.admin %}
				<span  title="Delete" ng-click="deleteFile(file,$index)" class="glyphicon glyphicon-remove"></span> 
			{% endif %}
			<a href="{[file.url]}">
				{[file.name]}
			</a>
		</td>
		<td>
			{[file.description]}
		</td>
		<td>
			{[file.created_by.first_name]} {[file.created_by.last_name]}
		</td>
		<td>
			{[file.created | date:'medium']}
		</td>
	</tr>
	</table>
	{% if not options or options.add %}<a class="btn btn-success" href="{% url 'attach_file' model=model pk=pk %}">Upload file</a>{%endif%}
</div>

