{% load attachment_helpers %}
<script src="/static/attachments/js/resources/models.js"></script>
<script src="/static/attachments/js/pages/notes.js"></script>
<style>
.pink{background-color:pink;}
.green{background-color:green;}
.note-wrapper{padding-left:15px;}
.note {max-width: 800px; min-height: 50px;}
.note textarea{width:100%;height:100%; min-height:100px;}
.note span.note-content{min-height:30px;width:100%;}
.note .details{text-size}
</style>

<script type='text/ng-template' id="noteResponses.html">
    <div class="note-wrapper" ng-repeat="note in getResponses(note)|orderBy:'created'">
		<div class="alert note" ng-class="{'alert-info': note.admin_only, 'alert-success': !note.admin_only}">
			<div ng-if="note.editing">
				<button type="button" class="close" data-dismiss="alert" ng-click="closeNote(note,$index)"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<textarea ng-model="note.content" placeholder="Enter text here...">{[note.content]}</textarea>
				<button class="btn btn-success btn-sm pull-right" ng-click="save(note)">Save</button>
				<div style="clear:both"></div>
			</div>
			<div ng-if="!note.editing">
				<p><small class="details" title="Last modified at {[note.modified|date:'medium']} by {[note.modified_by.username]}">At {[note.created|date:'medium']}, {[note.created_by.username]} wrote:</small></p>
				{[note.content]}
				<i style="margin-left:5px" class="glyphicon glyphicon-share-alt pull-right" ng-click="respond(note)" ng-if="note.id"></i> 
				<i style="margin-left:5px" class="glyphicon glyphicon-pencil pull-right" ng-click="note.editing=true" ng-if="note.created_by.username == '{{ options.username }}'"></i> 
				{% if options.admin %}
					<i class="glyphicon glyphicon-remove pull-right" ng-click="deleteNote(note)"></i>
				{% else%}
					<i class="glyphicon glyphicon-remove pull-right" ng-click="deleteNote(note)"  ng-if="note.created_by.username == '{{ options.username }}'"></i>
				{% endif %}
			</div>
		</div>
		<ng-include src="'noteResponses.html'"></ng-include>
	</div>
</script> 
<div ng-controller="NotesController" ng-init="setNoteDefaults({content_type:{{object|content_type_id}},object_id:'{{pk}}'});init();">
	<ng-include src="'noteResponses.html'"></ng-include>
	<button ng-click="newNote()" class="btn btn-success">Add note</button>
</div>

