{% load attachment_helpers %}
<script src="/static/attachments/js/resources/models.js"></script>
<script src="/static/attachments/js/pages/urls.js"></script>


<script type='text/ng-template' id="editURL.html">
    <div class="modal-header">
            <h3 class="modal-title">Create/Update URL</h3>
        </div>
        <div class="modal-body">
				<fieldset>
            <!-- Text input-->
					<div class="form-group" ng-class="{'has-error':url.errors.url}">
					<!-- Text input-->
					  <label class="col-md-4 control-label" for="url">URL</label>  
					  <div class="col-md-8">
					  <input id="url" ng-model="url.url" type="text" placeholder="enter a valid url..." class="form-control input-md" required="">
					  <span class="help-block" ng-repeat="error in url.errors.url">{[error]}</span>  
					  </div>
					</div>
					<div class="form-group" ng-class="{'has-error':url.errors.text}">
					  <label class="col-md-4 control-label" for="label">Label</label>  
					  <div class="col-md-8">
					  <input id="label" ng-model="url.text" type="text" placeholder="" class="form-control input-md">
					  <span class="help-block" ng-repeat="error in url.errors.text">{[error]}</span>  
					  </div>
					</div>				
					<!-- Textarea -->
					<div class="form-group" ng-class="{'has-error':url.errors.description}">
					  <label class="col-md-4 control-label" for="description">Description</label>
					  <div class="col-md-8">                     
					    <textarea class="form-control" id="description" ng-model="url.description"></textarea>
					    <span class="help-block" ng-repeat="error in url.errors.description">{[error]}</span>
					  </div>
					</div>
				</fieldset>
        </div>
        <div class="modal-footer">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="save()">Save</button> <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
        </div>
</script> 
<div ng-controller="URLController" ng-init="setURLDefaults({content_type:{{object|content_type_id}},object_id:'{{pk}}'});init();">
	<table class="table table-striped">
	<tr ng-repeat="url in urls" ng-show="url.id">
		<td>
			<span  title="Delete" ng-click="deleteURL(url,$index)" class="glyphicon glyphicon-remove"></span> 
			<span  title="Modify" ng-click="editURL($index)" class="glyphicon glyphicon-pencil"></span> 
			<a href="{[url.url]}" title="{[url.description]}">
				<span ng-show="url.text">{[url.text]}</span>
				<span ng-hide="url.text">{[url.url]}{[url.text]}</span>
			</a>
		</td>
		<td>
			{[url.description]}
		</td>
	</tr>
	</table>
	{% if not options or options.add %}<button ng-click="newURL()" class="btn btn-success">Add URL</button>{%endif%}
</div>

